section .cart {
  position: relative;
  border: 1px solid #ccc;
}
.amount span {
  color: crimson;
  padding: 0 20px;
}
.amount .count {
  width: 40px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-now {
  margin: 1rem 0;
  cursor: pointer;
}
.buy-now button {
  padding: 1rem;
  width: 100%;
  background: #e22a33;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 05px;
  cursor: pointer;
}
